/*.ui-widget {
    font-size: 11px; 
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;    
} 

.ui-datatable table {
    margin: 0;
    padding: 0;
    border-collapse:collapse; 
    font-size: 10px;
}

VENTANA DE INTRO
.logotipomp{
    width:415px;
    height:150px;
    float: left;
    background-color:#367BAB;
}
.loginscreen{
    width:415px;
    height:250px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:10pt;
    text-align:center;
    color:#FFF;
    border: 0px;
    background:#367BAB url(../imagenes/loginfondo.jpg);
}

.loginespacio{
    width:415px;
    height:30px;
    float: left;
}

.espacio{
    width:415px;
    height:30px;
}

.loginlinea{
    width:275px;
    height:35px;
    float: left;
    margin-left:150px;
    margin-top:10px;
}
.logintexto{
    width:120px;
    height:35px;
    float: left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12pt;
    text-align:left;
    margin-left:30px;
    margin-top:10px;
    line-height:1.7em;
    color:#255672;
}
.loginform{
    width:150px;
    height:20px;
    margin-top:10px;
    float: left;
}
.loginformcombo{
    width:150px;
    height:25px;
    margin-top:10px;
    float: left;
}
.loginboton{
    width:100px;
    height:25px;
    float: right;
}
.loginfrgtpass{
    width:415px;
    height:20px;
    float:left;
    margin-top:15px;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}
.panelprincipal{
    width:95%;
    height:80%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12pt;
    text-align:center;
    color:#FFF;
    border: 0px;
}*/


.ui-widget {
    font-size: 10.5px;     
}
html,body{
    margin: 0;
    padding: 0;
    overflow: hidden;    
} 
.ui-datatable table {
    margin: 0;
    padding: 0;
    border-collapse:collapse; 
    font-size: 10.5px;    
    display: block;
    height: 100%;
    overflow: hidden;    
}

.ui-datatable .ui-datatable-footer  {
    text-align:left;  
    font-size: 10px;
    padding:2px 5px;
    background: none;
    border: none;
}
.ui-datatable tfoot td {
    text-align:left;    
    font-size: 10px;    
    border: none;
    padding:1px;
    padding-top: 5px;    
    margin:0px;    
    overflow: hidden;
    white-space:nowrap;    
}

.ui-datatable th div.ui-dt-c,
.ui-datatable .ui-datatable-data td div.ui-dt-c,
.ui-datatable .ui-datatable-data-empty td div.ui-dt-c,
.ui-datatable tfoot td div.ui-dt-c {
    padding: 0px 2px;
    overflow: hidden;
    border:none;
}
.ui-datatable .ui-datatable-data input[type=text] {
    width: 99%; 
}

.ui-datatable  .ui-autocomplete-input {
    width: 99%;     
    background-position: right center;  
    padding-right: 0px;    
    background-repeat: no-repeat; 
}

.ui-layout-unit {
    visibility: hidden;
    padding: 0px;    
}

.ui-selectonemenu.ui-state-disabled {    
    opacity: .80;
}

.ui-inputfield.ui-state-disabled {   
    opacity: .80;    
}


.ui-chkbox-all{display:none !important;}

.ui-insertar {
background-image: url('../imagenes/im_insertar.png')!important;
}
.ui-guardar {
background-image: url('../imagenes/im_guardar.png')!important;
}
.ui-eliminar {
background-image: url('../imagenes/im_eliminar.png')!important;
}

.ui-reporte {
background-image: url('../imagenes/im_reporte.png')!important;
}

.ui-calendario {
background-image: url('../imagenes/im_calendario.png')!important;
}

