
.ui-widget {
    font-size: 10.5px;     
}
html,body{
    margin: 0;
    padding: 0;
    overflow: hidden;    
} 
.ui-datatable table {    
    margin: 0;
    padding: 0;
    border-collapse:collapse; 
    font-size: 12px; 
}

.ui-datatable .ui-datatable-footer  {
    text-align:left;  
    font-size: 12px;
    padding:2px 5px;
    background: none;
    border: none;
}
.ui-datatable tfoot td {
    text-align:left;    
    font-size: 12px;    
    border: none;
    padding:1px;
    padding-top: 5px;    
    margin:0px;    
    overflow: hidden;
    white-space:nowrap;    
}

.ui-datatable .ui-datatable-header{
    text-align:center;
    font-size: 14px;
}

.ui-datatable th div.ui-dt-c,
.ui-datatable .ui-datatable-data td div.ui-dt-c,
.ui-datatable .ui-datatable-data-empty td div.ui-dt-c,
.ui-datatable tfoot td div.ui-dt-c {
    padding: 0px 2px;
    overflow: hidden;
    border:none;
    width: 100%;
}
.ui-datatable .ui-datatable-data input[type=text] {
    width: 99%; 
}

.ui-datatable .ui-datatable-data textarea {
    width: 98%; 
}

.ui-datatable  .ui-autocomplete-input {
    width: 99%;     
    background-position: right center;  
    padding-right: 0px;
    background-image: url('../../imagenes/im_tex.png'); 
    background-repeat: no-repeat; 
}

.ui-layout-unit {
    visibility: hidden;
    padding: 0px;    
}

.ui-selectonemenu.ui-state-disabled {    
    opacity: .80;
}

.ui-inputfield.ui-state-disabled {   
    opacity: .80;    
}


.ui-chkbox-all{display:none !important;}

.ui-insertar {
    background-image: url('../../imagenes/im_insertar.png')!important;
}
.ui-guardar {
    background-image: url('../../imagenes/im_guardar.png')!important;
}
.ui-eliminar {
    background-image: url('../../imagenes/im_eliminar.png')!important;
}

.ui-reporte {
    background-image: url('../../imagenes/im_reporte.png')!important;
}

.ui-calendario {
    background-image: url('../../imagenes/im_calendario.png')!important;
}

.ui-pantalla {
    background-image: url('../../imagenes/im_pantalla.gif')!important;
}

.ui-toolbar-group-left {float:left;display: inline-block;vertical-align: middle;}
.ui-toolbar-group-right {float:right;display: inline-block;vertical-align: middle;}

.ui-dialog .ui-dialog-content {
 position: relative; border: 0; padding: .5em 1em; background: none; overflow: hidden; zoom: 1; }

.ui-paginator {
text-align: left ! important
}

.ui-toolbar{
    font-size: 12px;
}

.ui-menu{
    font-size: 14px;
}

.calendario_programar_cita .fc-event-inner {
    font-family:Arial, Helvetica, sans-serif;
    font-size:8pt;
    background: red;
}

.calendario_reprogramar_cita .fc-event-inner {
    font-family:Arial, Helvetica, sans-serif;
    font-size:8pt;
    background: blue;
}

.calendario_cancelar_cita .fc-event-inner {
    font-family:Arial, Helvetica, sans-serif;
    font-size:8pt;
    background: green;
 }
 
 .calendario_profesional_cita .fc-event-inner {
    font-family:Arial, Helvetica, sans-serif;
    font-size:8pt;
    background: orange;
 }
 
 .calendario_personal_cita .fc-event-inner {
    font-family:Arial, Helvetica, sans-serif;
    font-size:8pt;
    background: skyblue;
    color: black;
 }
 
 .calendario_red .fc-event-inner {
    font-family:Arial, Helvetica, sans-serif;
    font-size:8pt;
    background: red;
}

.calendario_blue .fc-event-inner {
    font-family:Arial, Helvetica, sans-serif;
    font-size:8pt;
    background: blue;
}

.calendario_green .fc-event-inner {
    font-family:Arial, Helvetica, sans-serif;
    font-size:8pt;
    background: green;
 }
 
 .calendario_orange .fc-event-inner {
    font-family:Arial, Helvetica, sans-serif;
    font-size:8pt;
    background: orange;
 }
 
 .calendario_skyblue .fc-event-inner {
    font-family:Arial, Helvetica, sans-serif;
    font-size:8pt;
    background: skyblue;
    color: black;
 }